<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Details</title>
    <style>
    

        h1,h2 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
       
      </style>
</head>
<body>
    <h1>AUTOMOTIVE</h1>

    <h2>PRODUCT DETAILS</h2>
    <table>
      <thead>
        <tr>
          <th>PRODUCT NAME</th>
          <th>PRODUCT PRICE </th>
          <th>PRODUCT QUANTITY</th>



       </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>{{ item.productName }}</td>
            <td>{{ item.productPrice }}</td>
            <td>{{ item.productQuantity}}</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
    
</body>
</html>