<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Details</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>

    <h1>PRODUCT DETAILS</h1>
    <table>
      <thead>
        <tr>
          <th>PRODUCT NAME</th>
          <th>PRODUCT PRICE </th>
          <th>PRODUCT QUANTITY</th>



       </tr>
      </thead>
      <tbody>
        
          <tr>
            <td>bosh</td>
            <td>120.00</td>
            <td>3</td>
          </tr>
        
          <tr>
            <td>exide 2</td>
            <td>12000.00</td>
            <td>10</td>
          </tr>
            
      </tbody>
    </table>
    
</body>
</html>