<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Details</title>
    <style>
    

        h1,h2 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
       
      </style>
</head>
<body>
    <h1>AUTOMOTIVE</h1>

    <h2>PRODUCT DETAILS</h2>
    <table>
      <thead>
        <tr>
          <th>PRODUCT NAME</th>
          <th>PRODUCT PRICE </th>
          <th>PRODUCT QUANTITY</th>



       </tr>
      </thead>
      <tbody>
        
          <tr>
            <td>neon engine  oil</td>
            <td>100.40</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>indian oil</td>
            <td>500.40</td>
            <td>3</td>
          </tr>
        
          <tr>
            <td>bike mrf wheel</td>
            <td>200.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>bike apolo wheel</td>
            <td>20000.00</td>
            <td>120</td>
          </tr>
        
          <tr>
            <td>bike apolo wheel</td>
            <td>2000.00</td>
            <td>120</td>
          </tr>
        
          <tr>
            <td>Sample</td>
            <td>123.00</td>
            <td>12</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>Exide</td>
            <td>1000.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>bosh2</td>
            <td>2000.00</td>
            <td>245</td>
          </tr>
        
          <tr>
            <td>exide 2</td>
            <td>12000.00</td>
            <td>1000</td>
          </tr>
        
          <tr>
            <td>MRF brake cable</td>
            <td>200.00</td>
            <td>50</td>
          </tr>
        
          <tr>
            <td>apolo brake cable</td>
            <td>100.00</td>
            <td>150</td>
          </tr>
        
          <tr>
            <td>murshu coolent</td>
            <td>340.00</td>
            <td>120</td>
          </tr>
        
          <tr>
            <td>yamaha chain</td>
            <td>200.00</td>
            <td>10</td>
          </tr>
        
          <tr>
            <td>ameen chain</td>
            <td>2000.00</td>
            <td>20</td>
          </tr>
        
          <tr>
            <td>susuki</td>
            <td>1200.00</td>
            <td>20</td>
          </tr>
        
          <tr>
            <td>Ceat brake cable</td>
            <td>250.00</td>
            <td>40</td>
          </tr>
        
          <tr>
            <td>yamaha brake cable</td>
            <td>120.00</td>
            <td>200</td>
          </tr>
        
          <tr>
            <td>liquid coolent</td>
            <td>380.00</td>
            <td>12</td>
          </tr>
        
          <tr>
            <td>Ceat brake cable</td>
            <td>250.00</td>
            <td>40</td>
          </tr>
        
          <tr>
            <td>yamaha brake cable</td>
            <td>120.00</td>
            <td>200</td>
          </tr>
        
          <tr>
            <td>liquid coolent</td>
            <td>380.00</td>
            <td>12</td>
          </tr>
        
          <tr>
            <td>ameen lube</td>
            <td>1200.00</td>
            <td>10</td>
          </tr>
            
      </tbody>
    </table>
    
</body>
</html>